body{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Inter';
}
:root {
    --couleur-principale: #583EFF; /* Définition de la variable --couleur-principale */
}
header{
    margin-bottom: 15%;
}
main{
    padding-bottom: 25px;
}
/***********************************************************************************************/
/*Styles pour la partie main*/
.titre{
    border-radius: 15px;
    width: auto;
    text-align: center;
    box-shadow: 0px 0px 10px 10px rgba(38, 0, 255, 0.397);
    font-weight: bold;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    /* font-size: 200%; */
    font-size: 4vw;
}
.text_profil{
    text-align: justify;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 150%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.parcour_titre{
    font-weight: bold;
    font-size: 120%;
    word-wrap: break-word;
    
}
.parcour_cont{
    font-size: 120%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-left: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
}
.item{
    padding-bottom: 13px;
    /* line-height: 2%; */
    border-left: 5px solid var(--couleur-principale);
    padding-left: 5%;
}
/*Styles des compétences*/
.competence_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    line-height: 5px;
    font-size: 9px;
    font-size: 150%;
    gap: 30px;
    place-items: center;
}
.competence_item{
    line-height: 0px;
    width: auto;
}
/* Styles pour le conteneur de la barre de niveau */
progress {  
    
    height: 15px; 
    border: none; 
    border-radius: 5px; 
    background-color: #f2f2f2; 
    margin-right: 4px;
    box-shadow: 0px 0px 3px 3px rgba(38, 0, 255, 0.397);
}
/* Styles pour la barre de niveau remplie */
progress::-webkit-progress-value {
    background-color: var(--couleur-principale);
    border-radius: 5px;
}
/* Styles pour la barre de niveau non remplie */
progress::-webkit-progress-bar {
    background-color: #d1c5c5;
    border-radius: 5px;
}
/***********************************************************************************************/
/*Styles pour la partie footer*/
.interet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    border: 1px solid;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.397);
    border: 1px solid;
    place-items: center;
    width: auto;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.titre_interet{
    padding-right: 10px; 
    font-weight: bold; 
    /* grid-row: 1 / span 3; 
    grid-column: 1 / span 3; */
    font-size: 150%;
    text-align: center;
}
.int{
    width: 100px;
    padding-right: 0px;
    text-align: center;
}
.img_interet{
    width: 50px;
    height: 50px;
}
/********************************************************************************************************************************************************/
.entete{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    font-family: 'Inter';
}
body{
    background-image: url('./fond_bleu.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.bloc_info{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    color: white;
}
.bloc_info_item{
    text-align: center;
    font-size: 100%;
}
.bloc_info_item span{
    font-size: 200%;
}
.Pren_Nom{
    font-weight: bold;
}
.Profession{
    font-size: 12px;
}
.contact_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    color: white;
}
.bloc_image{
    text-align: center;
}
.photo img{
    border: 2px var(--couleur-principale) solid;
    border-radius: 80px;
    width: 50%;
}


