*{
    font-family: 'Inter';
}

body{
    padding-bottom: 50px;
}
:root {
    --couleur-principale: #583EFF; /* Définition de la variable --couleur-principale */
}
/***********************************************************************************************/
/*Les styles au niveau de header*/
/*Dimensions du cadre de la photo*/
header{
    background-image: url('img/fond_bleu.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}
.photo{
    width: 205px;
    height: 215px;
    float: right;
    border: solid;
    border-radius: 20px;
    background-color: white;
    border-color: white;
    position: relative;/*Pour pouvoir déplacer le cadre grace a top et right*/
    top: 100px;
    display: flex;
    right: 100px;
}
/*Dimensions de l'image*/
img{
    width: 205px;
    height: 215px;
}
/*styles des titres : profils,parcours,experience et competences*/
.titre{
    border: 1px solid;
    width: auto;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.397);
    font-weight: bold;
    font-size: 250%;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
}
.identi{
    color: white;
    display: flex;
    font-family: 'Inter';
    font-size: 50px;
    margin-left: 15px;
    position: absolute;
    top: 50px;
    
}
.identi div p{
    font-size: 50%;
    font-weight: 100;
    
}
.contact{
    display: flex;
    position: relative;
}
.contact_tel div{
    color: white;
    line-height: 2px;
    font-family: 'Inter';
    font-size: 12px;
    margin-left: 30px;
}
.contact_tel div p{
    font-size: 9px;
    margin-left: -15px;
    vertical-align: top;
    display: flex;
}
.contact_mail div{
    color: white;
    line-height: 3px;
    font-family: 'Inter';
    font-size: 12px;
    margin-left: 30px;
}
.contact_mail div p{
    font-size: 9px;
}

.icon_phone{
    width: 15px;
    height: 15px;
}
.icon_mail{
    width: 15px;
    height: 15px;
}
.parcour{
    width: auto;
    height: auto;
    display: flex;
}
.experiences{
    width: auto;
    height: auto;
    display: flex;
}
.parcour div{
    line-height: 30px;
}
.experiences div{
    line-height: 30px;
}
.item{
    margin-bottom: 50px;
}
.parcour_gauche{
    width: auto;
    height: auto;
    padding-left: 50px;
    border-left: 10px solid var(--couleur-principale);
}
.experiences_gauche{
    width: auto;
    height: auto;
    padding-left: 50px;
    border-left: 10px solid var(--couleur-principale);
}
.parcour_droite{
    margin-left: 10%;
    width: auto;
    height: auto;
    border-left: 10px solid var(--couleur-principale);
    padding-left: 50px;

}
.experiences_droite{
    margin-left: 25%;
    width: auto;
    height: auto;
    border-left: 10px solid var(--couleur-principale);
    padding-left: 50px;
}

/***********************************************************************************************/
/*Styles pour la partie main*/
.text_profil{
    text-align: justify;
    font-size: 200%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.parcour_titre{
    font-weight: bold;
    font-size: 200%;
    padding-bottom: 2px;
}
.parcour_cont{
    font-size: 150%;
}
.parcour{
    line-height: 2px;
}

/*Styles des compétences*/
.competence{
    line-height: 5px;
    font-size: 120%;
    margin: auto;
    width: auto;
    padding-left: 3px;
}
/* Styles pour le conteneur de la barre de niveau */
progress {
    width: 100%;  
    height: 5px; 
    border: none; 
    border-radius: 5px; 
    background-color: #f2f2f2; 
    margin: 0px 0px 0px; /* Marge autour de la barre de niveau */
    margin-right: 4px;
}
/* Styles pour la barre de niveau remplie */
progress::-webkit-progress-value {
    background-color: var(--couleur-principale);
    border-radius: 5px;
}
/* Styles pour la barre de niveau non remplie */
progress::-webkit-progress-bar {
    background-color: #d1c5c5;
    border-radius: 5px;
}
/*pour les competences et les barres de niveau qui sont dans un tableau*/
th{
    width: 10%;
    text-align: left;
    padding: 0px;
    height: 3px;
}
td{
    width: 10%;
    text-align: left;
    padding: none;
    text-align: inherit;
    position: relative;
    top: 0px;
}
/***********************************************************************************************/
/*Styles pour la partie footer*/
.interet{
    border: 1px solid;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.397);
    font-size: 150%;
}
span{
    font-family: 'Inter';
    font-size: 12px;
}
.int{
    width: 100px;
    padding-right: 50px;
    font-size: 80%;
}
.img_interet{
    width: 30px;
    height: 30px;
}
.interet{
    border: 1px solid;
    text-align: center;
    height: auto;
}
.interet_text{
    padding-right: 50px; 
    font-size: 80%; 
    font-weight: bold;
}